@media all and (min-width:300px) {
    
    body {
        background-color: #ccc;   
    }
    .yellow {
    	background-color: #6495ED;
    }
    .forecast-heading {
    	font-size: 16px;
    	font-weight: bold;
    	font-style: arial;
    	text-transform: uppercase;
    }
    .forecast-content {
    	border-bottom: 1px solid black;
    	padding: 10px 0px;
    }

} /* ------ mobile base styles end ------- */

@media all and (min-width:700px) {
    body {
    }
} /* ------ tablet styles end ------- */

@media all and (min-width:992px) {
    body {
    }
} /* ------ desktop styles end ------- */